*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: "Poppins", sans-serif;
}

body{
    display: flex;
    justify-content: center;
    align-items: center;
    min-height: 100vh;
    background: url(dwinanda-nurhanif-mujito-pKT5Mg16w_w-unsplash.jpg) no-repeat;
    background-size: cover;
    background-position: center;
    transition: transform .5s ease-in-out;
}
header{
   position: fixed;
   top: 0;
   left: 0;
   width: 100%;
   padding: 20px 100px;
   display: flex;
   justify-content: space-between;
   align-items: center;
   z-index: 99;
}

.logo{
    font-size: 2em;
    color: #fff;
    user-select: none;
}
img{
    width: 22px;
    height: 22px;
    margin-right:4px;
}

.wrapper{
    position: relative;
    width: 450px;
    height: 450px;
    background-color: #fff;
    border-radius: 10px;
    backdrop-filter: blur(20px);
    box-shadow: 0 0 30px rgba(0, 0, 0, .5);
    display: flex;
    justify-content: center;
    align-items: center;
    transition: height .2s ease;
    overflow: hidden;
}

.wrapper.active{
    height: 657px;
}

.wrapper .form-box{
    width: 100%;
    padding: 20px;
}
.wrapper .form-box.login{
    transition:transform .18s ease;
    transform: translateX(0);
}
.wrapper.active .form-box.login{
    transition: none;
    transform: translateX(-450px);
}
.wrapper .form-box.register{
    position: absolute;
    transition: none;
    transform: translateX(450px);
}
.wrapper.active .form-box.register{
    transition:transform .18s ease;
    transform: translateX(0);
}

.form-box h2{
    font-size: 2.5em;
    color: black;
    text-align: center;
    padding: 12px;
}

.form-box p{
    font-size: 0.9em;
    color: #808e99;
    margin-top: 5px;
}

.input-box{
    position: relative;
    width: 100%;
    height: 50px;
    margin: 30px 0;
}

.input-box label{
    position: absolute;
    top: 5%;
    left: 10px;
    transform: translateY(-25%);
    font-size: 1em;
    color: black;
    font-weight: 250;
    pointer-events: none;
}

.input-box input{
    width: 100%;
    height: 25%;
    background-color: #fff;
    border: 10px  rgba(0, 0, 0, 0.2);
    outline: auto;
    border: 10px solid rgba(255, 255, 255, .2);
    border-radius: 16px;
    font-size: 16px;
    color: black;
    padding: 16px 20px 20px 20px;

}

.input-box input::placeholder{
    color: #808e99;
}

.input-box i{
    position: absolute;
    right: 20px;
    top: 60%;
    transform: translateY(25%);
    font-size: 20px;
}

.wrapper .remember-forgot{
    display: flex;
    justify-content: space-between;
    font-size: 14.5px;
    margin: 15px 0 15px;
}
.wrapper .ketentuan{
    text-align: justify;
    color: #808e99;
    font-size: 0.9em;
    margin-bottom: 15px;
}

.wrapper .btn{
    width: 100%;
    height: 35px;
    background: #10B981;
    border-radius: 10px ;
    border: none;
    outline: none;
    cursor: pointer;
    font-size: 16px;
    font-weight: 600;
    color: black;
    margin-top: 7px;
}

.wrapper .register-link{
    font-size: 14.5px;
    text-align: center;
    margin-top: 20px;
}

.register-link p{
    color: #162938;
    text-decoration: none;
    font-weight: 600;
}

.register-link a{
    color: #10B981;
}
.wrapper .login-link{
    font-size: 14.5px;
    text-align: center;
    margin-top: 18px;
}

.login-link p{
    color: #162938;
    text-decoration: none;
    font-weight: 600;
}

.login-link a{
    color: #10B981;
}
